In [1]:
# import libraries
import pandas as pd
df=pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [2]:
df['gender']=df['gender'].replace('Male', 1)
df['gender']=df['gender'].replace('Female', 0)
df.head()

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164

In [3]:
df.tail()

     age  weight  gender likeness height
240   31    60.0       1   Pakora    160
241   26    70.0       1  Biryani    172
242   40    80.0       1  Biryani    178
243   25    65.0       1  Biryani    5.7
244   33    56.0       0   Samosa    157

In [4]:
#selection of input and output variables
X=df[['weight', 'gender']]
y=df['likeness']

In [5]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [6]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [7]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

#create and fit model
model=DecisionTreeClassifier().fit(X,y)

# prediction
model.predict([[80,1]])

d:\installedsoft\miniconda3\envs\DSPython\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [16]:
#how to measure the accuracy of our model
## split data into test and train 80/20 rule
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#create a model and fitting
model=DecisionTreeClassifier().fit(X_train, y_train)

predicted_values=model.predict(X_test)

predicted_values

#checking score
score=accuracy_score(y_test,predicted_values)
score

0.6530612244897959

In [17]:
#how to train and save your model
import joblib

joblib.dump(model, 'foodie.joblib')

['foodie.joblib']

In [19]:
# how to run a stored or saved model on our data
model1=joblib.load('foodie.joblib')

In [20]:
model1.predict(X_test)

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [21]:
#graph
from sklearn import tree

#   graphic evaluation
tree.export_graphviz(model, out_file='foodie.dot', feature_names=['age','gender'], class_names=(y.unique()), label='all', rounded=True, filled=True)