In [32]:
# Install libraries
# pip install pandas
# pip install numpy

## import libraries

In [33]:
import pandas as pd
import numpy as np

In [34]:
# object creation
s=pd.Series([3,1,2,np.nan,4,9,8])
s

0    3.0
1    1.0
2    2.0
3    NaN
4    4.0
5    9.0
6    8.0
dtype: float64

In [35]:
dates=pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [36]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.939961  0.197282 -0.695424 -0.918400
2013-01-02  0.108016  0.911748 -0.245428  1.805189
2013-01-03  2.425627  0.647005 -2.265677  0.562418
2013-01-04 -0.586483  1.360005  0.981504 -2.549965
2013-01-05  1.243591  0.455080 -0.051158 -0.637151
2013-01-06  1.599911  1.135875 -0.779164  0.857312

In [37]:
df2=pd.DataFrame(
    {
        'A':1.0,
        'B':pd.Timestamp('20130103'),
        'C':pd.Series(1, index=list(range(4)), dtype='float32'),
        'D':np.array([3]*4, dtype='int32'),
        'E':pd.Categorical(['girl','woman','girl','woman']),
        'F':'female'
    }
)

In [38]:
df2

     A          B    C  D      E       F
0  1.0 2013-01-03  1.0  3   girl  female
1  1.0 2013-01-03  1.0  3  woman  female
2  1.0 2013-01-03  1.0  3   girl  female
3  1.0 2013-01-03  1.0  3  woman  female

In [39]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [40]:
df.head()

                   A         B         C         D
2013-01-01  0.939961  0.197282 -0.695424 -0.918400
2013-01-02  0.108016  0.911748 -0.245428  1.805189
2013-01-03  2.425627  0.647005 -2.265677  0.562418
2013-01-04 -0.586483  1.360005  0.981504 -2.549965
2013-01-05  1.243591  0.455080 -0.051158 -0.637151

In [41]:
df.tail()

                   A         B         C         D
2013-01-02  0.108016  0.911748 -0.245428  1.805189
2013-01-03  2.425627  0.647005 -2.265677  0.562418
2013-01-04 -0.586483  1.360005  0.981504 -2.549965
2013-01-05  1.243591  0.455080 -0.051158 -0.637151
2013-01-06  1.599911  1.135875 -0.779164  0.857312

In [42]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [43]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [44]:
df.to_numpy()

array([[ 0.93996075,  0.19728187, -0.69542352, -0.91840044],
       [ 0.10801622,  0.91174785, -0.24542779,  1.80518882],
       [ 2.42562696,  0.64700545, -2.26567692,  0.56241753],
       [-0.58648313,  1.36000537,  0.98150384, -2.54996472],
       [ 1.24359053,  0.45508011, -0.05115825, -0.63715069],
       [ 1.59991112,  1.13587485, -0.77916365,  0.85731216]])

In [45]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-03 00:00:00'), 1.0, 3, 'girl', 'female'],
       [1.0, Timestamp('2013-01-03 00:00:00'), 1.0, 3, 'woman', 'female'],
       [1.0, Timestamp('2013-01-03 00:00:00'), 1.0, 3, 'girl', 'female'],
       [1.0, Timestamp('2013-01-03 00:00:00'), 1.0, 3, 'woman', 'female']],
      dtype=object)

In [46]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.955104  0.784499 -0.509224 -0.146766
std    1.072913  0.434306  1.067178  1.544830
min   -0.586483  0.197282 -2.265677 -2.549965
25%    0.316002  0.503061 -0.758229 -0.848088
50%    1.091776  0.779377 -0.470426 -0.037367
75%    1.510831  1.079843 -0.099726  0.783589
max    2.425627  1.360005  0.981504  1.805189

In [47]:
df.T # to transpose data

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.939961    0.108016    2.425627   -0.586483    1.243591    1.599911
B    0.197282    0.911748    0.647005    1.360005    0.455080    1.135875
C   -0.695424   -0.245428   -2.265677    0.981504   -0.051158   -0.779164
D   -0.918400    1.805189    0.562418   -2.549965   -0.637151    0.857312

In [49]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2013-01-01  0.939961  0.197282 -0.695424 -0.918400
2013-01-02  0.108016  0.911748 -0.245428  1.805189
2013-01-03  2.425627  0.647005 -2.265677  0.562418
2013-01-04 -0.586483  1.360005  0.981504 -2.549965
2013-01-05  1.243591  0.455080 -0.051158 -0.637151
2013-01-06  1.599911  1.135875 -0.779164  0.857312

In [50]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01  0.939961  0.197282 -0.695424 -0.918400
2013-01-05  1.243591  0.455080 -0.051158 -0.637151
2013-01-03  2.425627  0.647005 -2.265677  0.562418
2013-01-02  0.108016  0.911748 -0.245428  1.805189
2013-01-06  1.599911  1.135875 -0.779164  0.857312
2013-01-04 -0.586483  1.360005  0.981504 -2.549965

In [51]:
df['C']

2013-01-01   -0.695424
2013-01-02   -0.245428
2013-01-03   -2.265677
2013-01-04    0.981504
2013-01-05   -0.051158
2013-01-06   -0.779164
Freq: D, Name: C, dtype: float64

In [52]:
# row wise selection
df[0:2]

                   A         B         C         D
2013-01-01  0.939961  0.197282 -0.695424 -0.918400
2013-01-02  0.108016  0.911748 -0.245428  1.805189

In [53]:
df.loc[dates[0]]

A    0.939961
B    0.197282
C   -0.695424
D   -0.918400
Name: 2013-01-01 00:00:00, dtype: float64

In [56]:
# df.loc[<rows>,<columns>]
df.loc[:,['A', 'B']]

                   A         B
2013-01-01  0.939961  0.197282
2013-01-02  0.108016  0.911748
2013-01-03  2.425627  0.647005
2013-01-04 -0.586483  1.360005
2013-01-05  1.243591  0.455080
2013-01-06  1.599911  1.135875

In [59]:
# df.iloc[<rows>,<columns>]
df.iloc[0:3]

                   A         B         C         D
2013-01-01  0.939961  0.197282 -0.695424 -0.918400
2013-01-02  0.108016  0.911748 -0.245428  1.805189
2013-01-03  2.425627  0.647005 -2.265677  0.562418

In [61]:
df[df['A']>1.5]

                   A         B         C         D
2013-01-03  2.425627  0.647005 -2.265677  0.562418
2013-01-06  1.599911  1.135875 -0.779164  0.857312