# numpy practice session

In [1]:
#import library
import numpy as np

## creating an array using numpy

In [4]:
#1-D Array
food=np.array(['Pakora', 'Samosa', 'Raita'])

In [3]:
price=np.array([5,5,5])
price

array([5, 5, 5])

In [5]:
type(food)

numpy.ndarray

In [6]:
type(price)

numpy.ndarray

In [7]:
len(price)

3

In [8]:
len(food)

3

In [10]:
price[:]

array([5, 5, 5])

In [12]:
food[1]

'Samosa'

In [13]:
price.mean()

5.0

In [14]:
#zeros
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

In [15]:
#ones
# this function initializes the value '1' to the array
np.ones(5)

array([1., 1., 1., 1., 1.])

In [16]:
#empty
# this function does not initialize the array with any value. which mean the value which is being showed
# is coming from heap memory. this is a little bit fast way to initialize an array
np.empty(5)

array([1., 1., 1., 1., 1.])

In [17]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
#specify
np.arange(2,20)

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [19]:
#specific interval
np.arange(2,20,2)

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [24]:
# table of 5
np.arange(5, 55,5)

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [25]:
#line space
np.linspace(0,10,num=5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [27]:
# specify your datatype
np.ones(50, dtype=np.int64)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1], dtype=int64)

In [28]:
np.ones(50, dtype=np.float64)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [29]:
# Array functions
a=np.array([10,12,15,2,4,6,100,320,0.5,10.3])
a

array([ 10. ,  12. ,  15. ,   2. ,   4. ,   6. , 100. , 320. ,   0.5,
        10.3])

In [30]:
a.sort()
a

array([  0.5,   2. ,   4. ,   6. ,  10. ,  10.3,  12. ,  15. , 100. ,
       320. ])

In [31]:
b=np.array([10.2,3.4,53.6,91.6,45.5])
b

array([10.2,  3.4, 53.6, 91.6, 45.5])

In [33]:
c=np.concatenate((a,b))

In [34]:
c.sort()

In [35]:
c

array([  0.5,   2. ,   3.4,   4. ,   6. ,  10. ,  10.2,  10.3,  12. ,
        15. ,  45.5,  53.6,  91.6, 100. , 320. ])

## 2-D arrays

In [36]:
a=np.array([[1,2,3,4,5],[5,4,3,2,1]])
a

array([[1, 2, 3, 4, 5],
       [5, 4, 3, 2, 1]])

In [37]:
b=np.array([[6,7],[8,9]])

In [39]:
c=np.concatenate((a,b), axis=1)

In [41]:
c.T

array([[1, 5],
       [2, 4],
       [3, 3],
       [4, 2],
       [5, 1],
       [6, 8],
       [7, 9]])

In [43]:
a=np.array([
    [[0,1,2,3],
    [4,5,6,7]],
    [[0,1,2,3],
    [4,5,6,7]],
    [[0,1,2,3],
    [4,5,6,7]],
])
a

array([[[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]]])

In [44]:
# to find the number of dimension
a.ndim

3

In [46]:
# size - number of elements
a.size

24

In [48]:
# shape
a.shape

(3, 2, 4)

In [51]:
a=np.arange(6)
a

array([0, 1, 2, 3, 4, 5])

In [52]:
# reshape
a.reshape(3,2)

array([[0, 1],
       [2, 3],
       [4, 5]])

In [53]:
a=np.array([1,2,3,4,5,6,7,8,9])

In [54]:
a.shape

(9,)

In [55]:
# converting shape (row-wising)
b=a[np.newaxis, :]
b

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [56]:
b.shape

(1, 9)

In [57]:
c=a[:,np.newaxis] # column wise
c

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [58]:
a.sum()

45